/* Lato|Candal|Roboto+Slab */
*{box-sizing: border-box;}
body{background:url('img/norwegian_rose.png') #eee;color:#111;width:900px;max-width:95%;margin:5px auto 0;font:16pt/18pt Lato,Verdana,sans-serif;}
