/* Lato|Candal|Roboto+Slab */
/*
red #bb0000
l brn #ddccbb
brn #aa7744
dk brn #553311
wht #efefef
*/
*{box-sizing: border-box;}
body{background:url('img/norwegian_rose.png') #efefef;color:#221;width:900px;max-width:95%;margin:5px auto 0;font:16pt/18pt Lato,Verdana,sans-serif;}
h1,h4{font-family:Candal,'Arial Black',serif;line-height:1.1em;}
h2,h3{font-family: 'Roboto Slab',Georgia,serif;}
a{color:#b00;}
header{text-align: center;width:100%;margin:0 auto;}
header img{display:inline-block;vertical-align: middle;border-radius:50%;}
header h1{display:inline-block;vertical-align: middle;}
header nav ul{list-style: none;padding:0;}
header nav ul li{display:inline;padding:0 1em;}
#info-block{width:85%;margin:0 auto;background:#efefef;}
#info-block div{display:inline-block;vertical-align: top;padding:0 10px;width:49%;}
#info-block div:first-of-type h4{text-align: right;padding:0;}
#info-block div:first-of-type h4 a{text-decoration: none;border:2px solid #b00;padding:2.5px 7.5px 5px 5px;}
#info-block div:first-of-type{padding-right:15px;border-right:1px solid #ddd;}
#feature-slider{width:85%;margin:0 auto;background:url('http://placeskull.com/400/350/003300/') no-repeat #efefef;margin-top:2em;position:relative;border-radius: 5px;}
#feature-slider div{height:350px;padding:10px 15px 0 415px;}
#feature-slider div h2{text-align: center;}
#feature-slider div h4{text-align: right;padding:0;}
#feature-slider div h4 a{text-decoration: none;border:2px solid #b00;padding:2.5px 7.5px 5px 5px;}
#feature-slider>a{display:block;position:absolute;top:160px;text-decoration:none;font-size:2em;background: #efefef;padding:5px;border-radius: 25%;z-index: -1;}
#feature-slider>a:first-of-type{left:-25px;}
#feature-slider>a:last-of-type{right:-25px;}
#gallery{width:102.75%;margin:0 auto;}
#gallery img{max-width: 15%;}
